*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(231, 231, 231);
    font-family: "Montserrat", sans-serif;
}

/* Header */

header{
    background-color: #444;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header div{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-weight: normal;
    font-size: 3rem;
    color: white;
    font-family: "Long Cang", cursive;
}
header i{
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
    color: rgb(221, 191, 21);
}
header nav{

}
header nav ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}
header nav ul li{
    padding: 2rem;
    background-color: #444;
}
header nav ul li:hover{
    background-color: #555;
}
header nav a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

/* PREMIERE SECTION */

.contentSection1{
    /* padding: 25rem 0 25rem 0; */
    display: flex;
    background-image: url(../images/frame.jpg);
    background-position: center;
    background-size: cover;
}
.contentSection1 div{
    padding: 16rem 0 16rem 0;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}
.contentSection1 h2{
    font-size: 5rem;
    color: white;
}
.contentSection1 h2 span{
    font-weight: normal;
    color: orange;
}
.contentSection1 p{
    font-size: 3rem;
    color: #999;
}

/* DEUXIEMME SECTION */

.contentSection2{
    padding: 14rem 0 14rem 0;
}
.contentSection2 h3{
    font-size: 3rem;
    padding: 0 0 5rem 2rem;
}
.contentSection2 .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.contentSection2 img{
    width: 36rem;
}
.contentSection2 .textContainer{
    padding: 1rem 0 1rem 0;
    text-align: center;
    background-color: white;
}
.contentSection2 hr{
    padding: 1rem;
    margin: 0 auto;
    width: 5%;
}
.contentSection2 p{
    font-size: 1.5rem;
    padding: 0.5rem;
}

/* TROISIEME SECTION */

.contentSection3{
    display: flex;
    flex-direction: row;
}
.contentSection3 .sect3Img{
    background-image: url(../images/team.jpg);
    background-position: center;
    background-size: cover;
    flex: 1;
    min-height: 60rem;
}
.contentSection3 .sect3Text{
    font-size: 1.7rem;
    background-color: #333;
    color: white;
    flex: 1;
    min-height: 60rem;
    display: flex;
    align-items: center;
}
.contentSection3 .sect3Text div{
    margin: 0 1rem;
}
.contentSection3 .sect3Text div p{
    margin-top: 1rem;
}
.contentSection3 h2 span{
    font-weight: normal;
    color: orange;
}

/* QUATRIEME SECTION */

.contentSection4{
    padding: 4rem 0 4rem 0;
    display: flex;
    flex-direction: column;
}
.contentSection4 h3{
    margin-left: 1rem;
    font-weight: normal;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.contentSection4 div{
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contentSection4 p .textItalic{
    font-style: italic;
}
/* .contentSection4 .quoteText{
    display: flex;
    flex-direction: row;
    justify-content: start
} */
.contentSection4 .divPhoto{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
.contentSection4 .divPhoto img{
    border-radius: 50%;
    min-width: 5rem;
    max-height: 5rem;
}



/* CINQUIEME SECTION */

.contentSection5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    min-height: 100vh;

}
.contentSection5 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contentSection5 h3{
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: normal;
    color: white;
}
.contentSection5 h3 span{
    color: orange;
}
.contentSection5 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contentSection5 form input{
    outline: none;
    font-size: 3rem;
    border: 2px solid rgba(0,0,0,1);
    min-width: 250px;
    border: none;
    padding: 0 0 2rem 1rem;
    margin-bottom: 1rem;
    background-color: #333;
}
.contentSection5 button{
    color: white;
    font-size: 2rem;
    padding: 2rem 3rem 2rem 3rem;
    background-color: orange;
    border-radius: 50px;
}






/* FOOTER */

footer{
    color: white;
    font-size: 2rem;
    padding: 5rem 0 5rem 0;
    background-color: #444;
    text-align: center;
    width: 100%;
}